* {
    box-sizing: border-box;
}

img { 
    width: 100%;
}

body {
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../img/sunset.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-position: center;
  background-size: cover;
}
.card {
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
    background-color: #ffffff; 
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.field {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}